@model PyDeployer.Web.ViewComponents.VueViewComponent.VueElement
@{
    var rootPathPrefix = ViewBag.RootPathPrefix;
    var viewUrl = rootPathPrefix + "/" + Model.ViewName + ".js";
}


<div id="@Model.VmElementId"></div>
<script type="text/javascript" src="@viewUrl"></script>
<script type="text/javascript">
    require(['@Model.ViewName'], function (vm) {   
        new Vue({
            el: "#@Model.VmElementId",
            render: h => h(vm.default)
        });
    });
</script>